<%- include('../../components/open.ejs'); %>
    <div class="flex mt-10 justify-center p-10">
      <table class="mx-[5%] grid-cols-8 w-full text-sm justify-content-center text-gray-500 rounded-lg overflow-hidden">
          <thead class="text-white text-center h-14 bg-[#EA5B93] bg-opacity-80">
            <tr> 
              <th class="text-center rounded-tl p-4">Id</th>
              <th class="text-center ">Imagen</th>
              <th class="text-center">Titulo</th>
              <th class="text-center" colspan="2">Contenido</th>
              
              <th class="text-center rounded-tr p-2" colspan="2">Acciones</th>
          </tr>
        </thead>
          <tbody>
            <% data[0].forEach(function(blog){ %>
              <% var image = blog.Image %>
                <tr class="bg-white border-b bg-opacity-50 rounded-lg">
                  <td class="text-center"><%= blog.id %></td>
                  <td class="w-32 p-4"><img height="200" width="200" src="/img/<%= image.filename %>"></img></td>
                  <td class="text-center"><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></td>
                  <td class="text-center p-5" colspan="2"><%- blog.content %></td>
                  <td class="text-end"><a href="/blogs/<%=blog.id%>/edit" class="font-medium py-[10%] px-[15%] rounded-lg text-white bg-blue-300 border hover:bg-blue-400">Edit</a></td>
                  <td class="text-center"><button onclick="ajaxFunction('<%=blog.id%>')" class="font-medium p-[5%] rounded-lg text-white bg-red-300 border hover:bg-red-400">Delete</button></td>
                </tr>
              <% }); %>
          </tbody> 
      </table>
  </div>
  <script>
    async function ajaxFunction(blogId) {
      if (confirm("¿Estas seguro de que quieres borrar?")){
        await $.ajax({
          url: `/blogs/${blogId}`,
          type: 'DELETE',
          success: (data)=>{
            console.log(data)
            location.reload()
          },
          error: (error)=>{
            console.log(error)
          }
        })
      }
    }
  </script>
<%- include('../../components/close.ejs'); %>
