<%- include('../../components/open.ejs'); %>
<article class="bg-slate-700 flex flex-col items-center mx-20">
    <img class="bg-emerald-300" height="200" width="200" src="/img/<%= image.filename %>"></img>
    <h1 class="bg-rose-400 text-center w-full text-2xl font-bold"><%= blog.title %></h1>
    <div class="w-full p-10">
        <%- blog.content %>
    </div>
</article>
<%- include('../../components/close.ejs'); %>