<%- include('../components/open.ejs'); %>

<section id="Config" class="h-full flex justify-center">
  <div
    class="xl:m-24 w-4/5 content-center align-middle rounded-2xl mt-16 bg-black/25 backdrop-blur-lg border-4 p-10 border-stone-50"
  >
    <div class="justify-center px-4 sm:px-0">
      <h3
        class="ml-12 mt-12 justify-center text-2xl font-semibold leading-7 text-white"
      >
        Configuracion de Cuenta
      </h3>
    </div>
    <form action="/admin/update?_method=PUT" method="post">
    <div class="xl:m-12 mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <p class="text-sm font-bold leading-6 text-white">
            Nombre de usuario
          </p>
          <p class="inputLabel mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">
            <%= data.username %>
          </p>
          <input id="usernameField" class="input hidden" type="text" value="<%= data.username %>" name="username">
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <p class="text-sm font-bold leading-6 text-white">Email</p>
          <p class="inputLabel mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">
            <%= data.email %>
          </p>
          <input id="emailField" class="input hidden" type="email" value="<%= data.email %>" name="email">
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <p class="text-sm font-bold leading-6 text-white">Contraseña</p>
          <p class="inputLabel mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">
            *****
          </p>
          <input id="newPasswordField" type="password" class="input hidden" name="newPassword">
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <p class="text-sm font-bold leading-6 text-white">
            Confirmar Contraseña Nueva
          </p>
          <p class="inputLabel mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">
            *****
          </p>
          <input id="confirmPasswordField" class="input hidden" type="password" name="confirmPassword">
        </div>
      </dl>
    </div>

    <div class="grid grid-cols-2 gap-2">
      <div class="p-8">
        <button type="submit"
          class="flex items-center justify-center px-2 py-1 text-sm font-medium text-center text-white backdrop-blur-sm bg-transparent rounded-lg hover:duration-700"
        >
          Guardar
          <svg
            class="w-3.5 h-3.5 m-2"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.99998 20.4199L2.78998 14.2099L5.61998 11.3799L8.99998 14.7699L18.88 4.87988L21.71 7.70988L8.99998 20.4199Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
      <div class="p-8">
        <button type="button"
        onclick="edit()"
          class="flex items-center justify-center px-2 py-1 text-sm font-medium text-center text-white backdrop-blur-sm bg-transparent rounded-lg hover:duration-700"
        >
          Editar
          <svg
            class="w-3.5 h-3.5 m-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </button>
      </div>
    </div>
  </form>
  </div>
</section>

<script>
  let toggled = false
  function edit(){
    let elements = Array.from(document.getElementsByClassName('inputLabel'))
    let inputs = Array.from(document.getElementsByClassName('input'))

    if (toggled == false){
      elements.forEach(element => {
        element.classList.add('hidden')
      });
      inputs.forEach(element => {
        element.classList.remove('hidden')
      });
      toggled = true;
      return;
    }
    if (toggled == true){
      let elements = Array.from(document.getElementsByClassName('inputLabel'))
      elements.forEach(element => {
        element.classList.remove('hidden')
      });
      let inputs = Array.from(document.getElementsByClassName('input'))
      inputs.forEach(element => {
        element.classList.add('hidden')
      });
      toggled = false;
      return;
    }
  }
</script>

<%- include('../components/close.ejs'); %>
