<%- include('../../components/open.ejs'); %>
<div class=" border-black text-center py-8">
  <h2 class="font-semibold text-2xl">
          Lista de Imagenes subidas
  </h2>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 m-5 mx-20 md:mx-20">
   <% data.forEach(function(image){ %>
    <div class="relative bg-white/40 rounded-3xl border border-stone-50 flex flex-col items-center justify-center h-25 w-25">
      <div class="p-20 m-10" style="background-image: url('/img/<%= image.filename %>'); background-size: cover; background-repeat: no-repeat; background-position: center; border:none" width="400" height="400" alt=""></div>
      <button class="absolute top-0 left-0 p-4 " onclick="ajaxFunction('<%- image.id %>')"><svg width="30" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M34.375 9.32918V9.8021C37.0812 10.0496 39.7765 10.4054 42.4542 10.8688C42.6564 10.9038 42.8497 10.9783 43.0231 11.088C43.1964 11.1977 43.3465 11.3405 43.4647 11.5083C43.5829 11.676 43.6669 11.8653 43.712 12.0655C43.757 12.2657 43.7621 12.4728 43.7271 12.675C43.6921 12.8772 43.6176 13.0705 43.5079 13.2439C43.3981 13.4173 43.2553 13.5674 43.0876 13.6856C42.9199 13.8038 42.7305 13.8878 42.5303 13.9328C42.3301 13.9778 42.123 13.9829 41.9208 13.9479L41.4854 13.875L39.3917 41.1042C39.271 42.6741 38.5621 44.1407 37.4068 45.2106C36.2516 46.2805 34.735 46.8749 33.1604 46.875H16.8417C15.2671 46.8749 13.7505 46.2805 12.5953 45.2106C11.44 44.1407 10.7311 42.6741 10.6104 41.1042L8.5146 13.875L8.07918 13.9479C7.877 13.9829 7.6699 13.9778 7.46971 13.9328C7.26952 13.8878 7.08015 13.8038 6.91243 13.6856C6.57369 13.4468 6.34365 13.0833 6.27293 12.675C6.20221 12.2667 6.29658 11.847 6.5353 11.5083C6.77402 11.1695 7.13752 10.9395 7.54585 10.8688C10.2235 10.4049 12.9187 10.049 15.625 9.8021V9.32918C15.625 6.07085 18.1521 3.28751 21.4917 3.18126C23.8307 3.10641 26.1714 3.10641 28.5104 3.18126C31.85 3.28751 34.375 6.07085 34.375 9.32918ZM21.5917 6.30418C23.864 6.23151 26.1381 6.23151 28.4104 6.30418C29.9792 6.35418 31.25 7.67501 31.25 9.32918V9.5646C27.0872 9.31178 22.9128 9.31178 18.75 9.5646V9.32918C18.75 7.67501 20.0188 6.35418 21.5917 6.30418ZM20.8521 18.6896C20.8442 18.4844 20.7959 18.2828 20.71 18.0963C20.6242 17.9097 20.5024 17.7419 20.3517 17.6024C20.201 17.463 20.0243 17.3545 19.8317 17.2833C19.6391 17.2121 19.4344 17.1796 19.2292 17.1875C19.024 17.1954 18.8224 17.2437 18.6358 17.3296C18.4493 17.4154 18.2815 17.5372 18.142 17.6879C18.0025 17.8386 17.8941 18.0153 17.8229 18.2079C17.7517 18.4005 17.7192 18.6052 17.7271 18.8104L18.45 37.5604C18.466 37.9746 18.6459 38.3654 18.9501 38.6469C19.1007 38.7862 19.2773 38.8946 19.4697 38.9657C19.6622 39.0369 19.8668 39.0694 20.0719 39.0615C20.2769 39.0535 20.4784 39.0053 20.6648 38.9195C20.8512 38.8337 21.0189 38.712 21.1583 38.5614C21.2977 38.4108 21.4061 38.2342 21.4772 38.0417C21.5483 37.8493 21.5809 37.6447 21.5729 37.4396L20.8521 18.6896ZM32.2688 18.8104C32.284 18.6013 32.2571 18.3912 32.1894 18.1927C32.1218 17.9943 32.0149 17.8114 31.8752 17.6551C31.7354 17.4988 31.5656 17.3722 31.3759 17.2829C31.1862 17.1936 30.9804 17.1434 30.7709 17.1353C30.5613 17.1272 30.3523 17.1613 30.1563 17.2357C29.9602 17.3101 29.7811 17.4231 29.6297 17.5682C29.4782 17.7132 29.3575 17.8872 29.2748 18.0799C29.192 18.2726 29.1489 18.4799 29.1479 18.6896L28.425 37.4396C28.409 37.854 28.5582 38.2578 28.8399 38.5621C29.1216 38.8665 29.5127 39.0465 29.9271 39.0625C30.3415 39.0785 30.7453 38.9293 31.0496 38.6476C31.354 38.3659 31.534 37.9748 31.55 37.5604L32.2688 18.8104Z" fill="#F87372"/>
        </svg>
        </button>
      
      <a href="/images/<%- image.id %>"><svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_38_6)">
        <path d="M7.25 12.6875C7.7307 12.6875 8.19172 12.8785 8.53163 13.2184C8.87154 13.5583 9.0625 14.0193 9.0625 14.5C9.0625 14.9807 8.87154 15.4417 8.53163 15.7816C8.19172 16.1215 7.7307 16.3125 7.25 16.3125C6.7693 16.3125 6.30828 16.1215 5.96837 15.7816C5.62846 15.4417 5.4375 14.9807 5.4375 14.5C5.4375 14.0193 5.62846 13.5583 5.96837 13.2184C6.30828 12.8785 6.7693 12.6875 7.25 12.6875ZM14.5 12.6875C14.9807 12.6875 15.4417 12.8785 15.7816 13.2184C16.1215 13.5583 16.3125 14.0193 16.3125 14.5C16.3125 14.9807 16.1215 15.4417 15.7816 15.7816C15.4417 16.1215 14.9807 16.3125 14.5 16.3125C14.0193 16.3125 13.5583 16.1215 13.2184 15.7816C12.8785 15.4417 12.6875 14.9807 12.6875 14.5C12.6875 14.0193 12.8785 13.5583 13.2184 13.2184C13.5583 12.8785 14.0193 12.6875 14.5 12.6875ZM21.75 12.6875C22.2307 12.6875 22.6917 12.8785 23.0316 13.2184C23.3715 13.5583 23.5625 14.0193 23.5625 14.5C23.5625 14.9807 23.3715 15.4417 23.0316 15.7816C22.6917 16.1215 22.2307 16.3125 21.75 16.3125C21.2693 16.3125 20.8083 16.1215 20.4684 15.7816C20.1285 15.4417 19.9375 14.9807 19.9375 14.5C19.9375 14.0193 20.1285 13.5583 20.4684 13.2184C20.8083 12.8785 21.2693 12.6875 21.75 12.6875Z" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_38_6">
        <rect width="29" height="29" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        
        </a>
    </div>
   <% }); %>
   </div>
<script>
  async function ajaxFunction(ImageId) {
    if (!confirm(`Seguro que desea borrar este elemento? [ Image : ID ${ImageId} ]`)){
      return ;
    }
    await $.ajax({
      url: `/images/${ImageId}`,
      type: 'DELETE',
      success: (data)=>{
        console.log(data)
        location.reload()
      },
      error: (error)=>{
        console.log(error)
      }
    })
  }
</script>
<%- include('../../components/close.ejs'); %>
